<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">

      <h1>WELCOME TO RELATIVE TEMPLATES!</h1>
      <h2>HOPE YOU ARE ENJOYING</h2>

      <a href="{% url 'basicapp:other' %}">The other page</a><br>
      <a href="{% url 'index' %}">The index page</a>
</div>
    </div>
  </body>
</html>
